body{
    margin: 0;
    padding: 0;
    font-family: Roboto,sans-serif;

}
.swiper .swiper-pagination-bullet{
    width: 12px;
    height: 4px;
    background: #D5DAE0;
    border-radius: 10px;
    opacity: 0.7;
}
.container .swiper .swiper-pagination {

    position: absolute;
    bottom: 4px;
}
.swiper .swiper-pagination-bullet-active{
    width: 24px;
    height: 4px;
    background: #EE3D48;
    border-radius: 10px;
    opacity: 1;
}
.container .swiper .swiper-button-next::after{
 color: rgba(255, 255, 255, 0.48);
    font-size: 16px;

}
.container .swiper .swiper-button-prev::after{
 color: rgba(255, 255, 255, 0.48);
   font-size: 16px;
}

.container .swiper .swiper-button-prev{
    background: rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    width: 40px;
    height: 40px;
    left: 44px;

}

.container .swiper .swiper-button-next{
    background: rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    width: 40px;
    height: 40px;
    right: 46px;
}
.prev_background{
    height: 16px;
    width: 100%;

}
.container .swiper .swiper-slide img{
    padding: 16px 40px 0 38px;
}
.container{
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

}

