$main_color : #EE3D48;
$white : white;
$grey :#939598;
$black :black;


.body{

  margin: 0 auto;
  padding-top: 16px;
  width: 375px;
  height: 1000px;
  &_container{

    .photo_zones{

      margin-left: 16px;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;

    }
    .next_card_active{
      margin: 0 16px;
      padding-bottom: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      button{
        color: white;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;
        height: 40px;
        width: 353px;
        border: 1px solid #EE3D48;
        background: #CE121E;
        text-align: center;
        box-sizing: border-box;
        border-radius: 6px;

      }
    }
    .next_card{
      margin: 0 16px;
      padding-bottom: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      button{
        color: #EE3D48;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;
        height: 40px;
        width: 353px;
        border: 1px solid #EE3D48;
        background: none;
        text-align: center;
        box-sizing: border-box;
        border-radius: 6px;

      }
    }
  }
}